<div class="container mt-4">

    <a href="/boroughs" class="btn btn-secondary mb-3">← Back to Home</a>

    <h1 class="mb-3">{{borough.name}}</h1>

    <p class="lead">{{borough.description}}</p>

    <hr>

    <h3>Borough Statistics</h3>

    {{#if borough.stats.[0]}}
    <ul class="list-group mb-4">
        <li class="list-group-item">
            <strong>Avg Chlorine:</strong> {{toFixed3 borough.stats.[0].avg_chlorine}} mg/L
        </li>
        <li class="list-group-item">
            <strong>Avg Turbidity:</strong> {{toFixed3 borough.stats.[0].avg_turbidity}} NTU
        </li>
        <li class="list-group-item">
            <strong>Avg Coliform:</strong> {{toFixed3 borough.stats.[0].avg_coliform}} MPN/100mL
        </li>
        <li class="list-group-item">
            <strong>Avg E. Coli:</strong> {{toFixed3 borough.stats.[0].avg_e_coli}} MPN/100mL
        </li>
        <li class="list-group-item">
            <strong>Avg Fluoride:</strong> {{toFixed3 borough.stats.[0].avg_fluoride}} mg/L
        </li>
    </ul>
    {{else}}
    <p><em>No statistics available for this borough.</em></p>
    {{/if}}

    <hr>

</div>